* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 50px;
  /* justify-content: space-between; */
  margin: 20px;
  padding: 20px;
  align-items: center;
}
.logo-img {
  width: 144px;
  height: 40px;
}
.nav-links ul {
  display: flex;
  gap: 24px;
  /* justify-content: space-between; */
  list-style: none;
  justify-content: center;
}
.nav-links ul a {
  text-decoration: none;
}
.common-btn {
  text-align: center;
  background-color: #1d4ed8;
  color: aliceblue;
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
  width: 195px;
  border: none;
}
/* ................banner section........... */

.banner-container {
  position: relative;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.banner-content {
  position: absolute;
  /* inset: 0; */
  /* color: rgb(92, 164, 227);
  colo */
  color: aliceblue;
  width: 700px;
  height: 700px;
  top: 30%;
  left: 50%;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 120px;
  /* border: 2px solid red; */
  margin: 120px;
}
.banner-content h1 {
  font-size: 60px;
}

.banner-content p {
  margin-bottom: 30px;
  max-width: 700px;
  line-height: 1.6;
}
.banner-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  /* position: absolute; */
}
.common-btn1 {
  text-align: center;
  background-color: #1d4ed8;
  color: rgb(248, 255, 240);
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
  width: 195px;
  font-size: large;
  /* margin-top: 120px; */
}
/* .........Meet the speaker....... */

.speaker-cards {
  width: auto;
  /* height: 1000px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding-bottom: 50px;
  /* margin-top: 30px; */
}
.speaker-container {
  gap: 15px;
  text-align: start;
  border-radius: 20px;
  height: 440px;
  /* height: 100%; */
  box-shadow: 0 0px 1px 0px rgb(63, 65, 67);
  /* border: 2px solid red; */
}
/* .test h4 {
  font-weight: bold;
  font-size: 20px;
} */

.speaker-container h4 .speaker-container p {
  padding-left: 15px;
}
.speaker-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  padding-bottom: 10px;
}
.container h1 {
  margin-bottom: 30px;
  font-size: 50px;
  text-align: center;
}
.banner-content {
  padding: 15px 15px;
}
.text-info a {
  text-decoration: none;
  color: #1d4ed8;
  font-weight: 600;
  font-size: smaller;
}
.text-info {
  padding-left: 20px;
}

/* .......Secure Your Spot........... */
.parents-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  gap: 20px;
}

.card {
  width: 100%;
  max-height: 500px;
  /* border: 2px solid red; */

  padding: 10px 10px;

  border-radius: 5px;
  box-shadow: 0 8px 20px rgb(63, 65, 67);
}
.price-card-1 {
  padding: 10px 10px;

  /* border: 2px solid red; */
}
.benefit-list {
  padding: 20px;
  height: 406px;
  /* gap: 20px; */
  /* border: 2px solid red; */
  text-align: center;
}
.benefit-list li {
  padding: 5px;
  /* border: 2px solid red; */
  text-align: start;
}
.common-btn-1 {
  display: flex;
  justify-content: center;
}

.Button-outline {
  font-size: 20px;
  background-color: #1d4ed8;
  color: aliceblue;
  border: none;
  width: 100%;
  padding: 14px 0;
  border: 2px solid #2563eb;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  /* transition: 0.3s; */
  margin-top: 30px;
}
.Button-primary {
  font-size: 20px;
  background-color: #1d4ed8;
  color: aliceblue;
  border: none;
  width: 100%;
  padding: 14px 0;
  border: 2px solid #2563eb;
  border-radius: 8px;
  background: white;
  color: #2563eb;
  /* font-size: 16px; */
  font-weight: 600;
  cursor: pointer;
  /* transition: 0.3s; */
  margin-top: 30px;
}
.Button-dark {
  font-size: 20px;
  /* background-color: #1d4ed8; */
  color: rgb(29, 32, 34);
  border: none;
  width: 100%;
  padding: 14px 0;
  border: 2px solid #2563eb;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  margin-top: 30px;
}
.pricing-header {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}
.price-card-1 h4 {
  font-weight: 600;
  font-size: 16px;
  color: #888888;
}
.price-card-1 h3 {
  font-weight: bold;
  font-size: 50px;
}
.bg-colour {
  background-color: #0d1b2a;
  color: aliceblue;
}
.pro h4 {
  color: #9ab5ff;
}
.price-card-1 p {
  font-weight: 300;
  font-size: 20px;
  color: #888888;
}
hr {
  margin: 20px 0;

  border: none;

  border-top: 1px solid #e5e7eb;
  /* ....................footer................ */
}
.footer {
  background-color: #0d1b2a;
  padding: 35px 0px;
}
.footer-container {
  max-width: 1280px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  padding: 0px 20px;

  color: #888888;
}
.footer-links {
  display: flex;
  gap: 30px;
}
.footer-links a {
  text-decoration: none;
  color: #888888;
}

.footer-links a:hover {
  color: #9ab5ff;
  transition: color 0.3s ease;
}
