* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 50px;

  margin: 20px;
  padding: 20px;
  align-items: center;
}
.logo-img img {
  width: 144px;
  height: 40px;
}
.nav-links ul {
  display: flex;
  gap: 24px;

  list-style: none;
  justify-content: center;
}
.nav-links a {
  text-decoration: none;
}
.common-btn {
  text-align: center;
  background-color: #1d4ed8;
  color: aliceblue;
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
  /* width: 195px; */
  border: none;
}
@media (max-width: 768px) {
  .nav-bar {
    grid-template-columns: 1fr;

    gap: 20px;

    text-align: center;
  }

  .nav-links ul {
    flex-direction: column;

    gap: 15px;
  }
}
/* ................banner/Hero section........... */

.banner-container {
  position: relative;
}

.banner-container {
  position: relative;
}
.banner-content {
  position: absolute;
  /* width: 700px; */
  width: 100%;
  max-width: 700px;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 28px;
  color: white;
}

.banner-content h1 {
  font-size: 60px;
}

.banner-content p {
  margin-top: 20px;
  max-width: 700px;
  line-height: 1.6;
}
.banner-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.common-btn1 {
  text-align: center;
  background-color: #1d4ed8;
  color: rgb(248, 255, 240);
  font-weight: 600;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  font-size: large;
  cursor: pointer;
  margin-top: 180px;
}
/* .........Meet the speaker....... */
@media (max-width: 768px) {
  .speaker-cards {
    grid-template-columns: 1fr;
  }
}

.speaker-cards {
  width: auto;
  /* height: 1000px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding-bottom: 50px;
}
.speaker-container {
  gap: 15px;
  text-align: start;
  border-radius: 20px;
  padding-bottom: 25px;

  box-shadow: 0 0px 1px 0px rgb(63, 65, 67);
}

.speaker-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  padding-bottom: 10px;
}
.container h1 {
  margin-bottom: 30px;
  font-size: 50px;
  text-align: center;
}
.banner-content {
  padding: 15px 15px;
}
.text-info a {
  text-decoration: none;
  color: #1d4ed8;
  font-weight: 600;
  font-size: smaller;
}
.text-info {
  padding-left: 20px;
}

/* .......Secure Your Spot........... */

@media (max-width: 1024px) {
  .parents-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .parents-card {
    grid-template-columns: 1fr;
  }
}
.parents-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  gap: 20px;
}

.card {
  width: 100%;

  padding: 10px 10px;

  border-radius: 5px;
  box-shadow: 0 8px 24px rgb(0, 0, 0, 08);
}
.card:hover {
  transform: translateY(-8px);
  transition: 3s;
}
.price-card-1 {
  padding: 10px 10px;
}
.benefit-list {
  padding: 20px;
  height: 406px;

  text-align: center;
}
.benefit-list li {
  padding: 5px;

  text-align: start;
}
.common-btn-1 {
  display: flex;
  justify-content: center;
}

.Button-outline {
  font-size: 20px;
  background-color: #1d4ed8;
  color: aliceblue;
  border: none;
  width: 100%;
  padding: 14px 0;
  border: 2px solid #2563eb;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  margin-top: 30px;
}
.Button-primary {
  font-size: 20px;
  background-color: #1d4ed8;
  color: aliceblue;
  border: none;
  width: 100%;
  padding: 14px 0;
  border: 2px solid #2563eb;
  border-radius: 8px;
  background: white;
  color: #2563eb;

  font-weight: 600;
  cursor: pointer;

  margin-top: 30px;
}
.Button-dark {
  font-size: 20px;

  color: rgb(29, 32, 34);
  border: none;
  width: 100%;
  padding: 14px 0;
  border: 2px solid #2563eb;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  margin-top: 30px;
}
.pricing-header {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}
.price-card-1 h4 {
  font-weight: 600;
  font-size: 16px;
  color: #888888;
}
.price-card-1 h3 {
  font-weight: bold;
  font-size: 50px;
}
.bg-colour {
  background-color: #0d1b2a;
  color: aliceblue;
}
.pro h4 {
  color: #9ab5ff;
}
.price-card-1 p {
  font-weight: 300;
  font-size: 20px;
  color: #888888;
}
hr {
  margin: 20px 0;

  border: none;

  border-top: 1px solid #e5e7eb;
  /* ....................footer................ */
}
.footer {
  background-color: #0d1b2a;
  padding: 35px 0px;
}
.footer-container {
  max-width: 1280px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  padding: 0px 20px;

  color: #888888;
}
.footer-links {
  display: flex;
  gap: 30px;
}
.footer-links a {
  text-decoration: none;
  color: #888888;
}

.footer-links a:hover {
  color: #9ab5ff;
  transition: color 0.3s ease;
}
/* ........AI SECTION///////////........ */

.hackathon {
  /* background-color: rgb(154, 221, 221); */
  margin: 0 auto;
  font-family: "JetBrains Mono", monospace;
  max-width: 1280px;
}

.hackathon-intro {
  /* border: 2px dotted blue; */
  padding: 60px;
  border-radius: 20px;
  /* background-color: rgb(56, 56, 179); */
  background: linear-gradient(135deg, #2193b0, #6dd5ed);
  color: azure;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
.intro-text span {
  color: aqua;
  width: 600px;
}
.intro-text {
  /* border: 2px dotted blue; */
  max-width: 650px;
}
.intro-button {
  /* border: 2px solid rgb(53, 158, 172); */
  padding: 10px 10px;
  text-align: center;
  background-color: #e6e8ee;
  color: aliceblue;
  width: 250px;
  border-radius: 15px;
  /* display: flex;
  flex-direction: column; */
  /* align-items: baseline; */
}

.ai-button {
  /* gap: 4px; */
  color: rgb(42, 14, 167);
  background: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  /* width: 195px; */
  border: none;
  /* width: 150px; */
  /* font-weight: 600; */
  /* border: 2px solid red; */
  font-weight: 600;
  font-size: large;
}
.ai-button i {
  padding-left: 5px;
}
.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* border: 2px dotted seagreen; */
  align-items: center;
  margin-bottom: 50px;
  /* font-family: "Open Sans", sans-serif; */
}
.stat-card {
  /* border: 2px dotted rgb(75, 46, 139); */
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 10px;

  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 16px;
  background-color: #f0f1f4;
  box-shadow: 0 5px 5px;
}
.stat-card:hover {
  background-color: rgb(190, 211, 211);
  transform: translateX(10px) scale(0.9);
}
.stat-card p {
  font-weight: bold;
  font-size: 30px;
}
.stat-card h3 {
  font-weight: 400;
  font-size: medium;
}
.stat-icon {
  border-radius: 12px;
  background-color: rgb(246, 251, 251);
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* size: 20px; */
}
.hackathon-benefits {
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 70px;
}
.benefits-inner {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.behefits-command {
  display: flex;
  /* justify-content: space-around; */
  gap: 10px;
  align-items: center;
  /* border: 2px solid red; */
  border-radius: 15px;
  padding: 5px 10px;
  /* gap: 10px;
  bac */
  /* background-color: rgb(233, 250, 251); */
  transition: all 0.3s ease;
  box-shadow: 0 0px 3px;
  background-color: rgb(246, 251, 251);
  /* color: #e6e8ee; */
}
.children-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.behefits-command:hover {
  background-color: rgb(190, 211, 211);
  transform: translateX(10px) scale(0.9);
}

/* ........AI SECTION///////////........ */
